// SPDX-License-Identifier: GPL-2.0 OR BSD-3-Clause
/*
 * Samsung Galaxy A13 (SM-A135F) common device tree source
 *
 * Copyright (c) 2026, schoosh212 <superaviation001@gmail.com>
 */

/dts-v1/;
#include "exynos850.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Samsung Galaxy A13";
	compatible = "samsung,a135f", "samsung,exynos850";

	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		bootargs = "clk_ignore_unused pd_ignore_unused regulator_ignore_unused";

		framebuffer@fa000000 {
			compatible = "simple-framebuffer";
			reg = <0 0xfa000000 0 (1080 * 2408 * 4)>;
			width = <1080>;
			height = <2408>;
			stride = <(1080 * 4)>;
			format = "a8r8g8b8";
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ramoops@f0f10000 {
			compatible = "ramoops";
			reg = <0 0xf0f10000 0 0x8000>;
			record-size = <0x2000>;
			console-size = <0x4000>;
			ftrace-size = <0>;
			pmsg-size = <0x2000>;
		};

		framebuffer@fa000000 {
			reg = <0 0xfa000000 0 (1080 * 2408 * 4)>;
			no-map;
		};

		abox_reserved: audio@e9400000 {
			reg = <0 0xe9400000 0 0x400000>;
			no-map;
		};

	};

	rtcclk: clock-rtcclk {
		compatible = "fixed-clock";
		clock-output-names = "rtcclk";
		#clock-cells = <0>;
		clock-frequency = <32768>;
	};

	/* TODO: Remove this once PMIC is implemented  */
	reg_dummy: regulator-0 {
		compatible = "regulator-fixed";
		regulator-name = "dummy_reg";
	};

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-0 = <&key_voldown &key_volup>;
		pinctrl-names = "default";

		voldown-key {
			label = "Volume Down";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&gpa1 0 GPIO_ACTIVE_LOW>;
			wakeup-source;
		};

		volup-key {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&gpa1 7 GPIO_ACTIVE_LOW>;
		};
	};
};

&acpm_ipc {
	pmic-1 {
		compatible = "samsung,s2mpu12-pmic";
		interrupts-extended = <&gpa0 0 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int>;
		system-power-controller;
		wakeup-source;

		clocks {
			compatible = "samsung,s2mpu12-clk";
			#clock-cells = <1>;
			clock-output-names = "rate_i2c", "gate_i2c";
		};

		regulators {
			vdd_cpu: buck1 {
				regulator-name = "vdd_cpu";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-ramp-delay = <6000>;
			};

			vdd_gpu: buck2 {
				regulator-name = "vdd_gpu";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-ramp-delay = <6000>;
			};

			vdd_lldo: buck4 {
				regulator-name = "vdd_lldo";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
				regulator-ramp-delay = <6000>;
			};

			vdd_mldo: buck5 {
				regulator-name = "vdd_mldo";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <2100000>;
				regulator-always-on;
				regulator-ramp-delay = <6000>;
			};

			vdd_ldo1: ldo1 {
				regulator-name = "vdd_ldo1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo2: ldo2 {
				regulator-name = "vdd_ldo2";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo3: ldo3 {
				regulator-name = "vdd_ldo3";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo4: ldo4 {
				regulator-name = "vdd_ldo4";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo5: ldo5 {
				regulator-name = "vdd_ldo5";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-ramp-delay = <>;
			};

			vdd_ldo6: ldo6 {
				regulator-name = "vdd_ldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1187500>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo7: ldo7 {
				regulator-name = "vdd_ldo7";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo8: ldo8 {
				regulator-name = "vdd_ldo8";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo9: ldo9 {
				regulator-name = "vdd_ldo9";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-ramp-delay = <>;
			};

			/* vqmmc */
			vdd_ldo10: ldo10 {
				regulator-name = "vdd_ldo10";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-ramp-delay = <>;
			};

			vdd_ldo11: ldo11 {
				regulator-name = "vdd_ldo11";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			/* ldos 11-23 are disabled */

			vdd_ldo23: ldo23 {
				regulator-name = "vdd_ldo23";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			/* vmmc */
			vdd_ldo24: ldo24 {
				regulator-name = "vdd_ldo24";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo25: ldo25 {
				regulator-name = "vdd_ldo25";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo26: ldo26 {
				regulator-name = "vdd_ldo26";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo27: ldo27 {
				regulator-name = "vdd_ldo27";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo28: ldo28 {
				regulator-name = "vdd_ldo28";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-boot-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo29: ldo29 {
				regulator-name = "vdd_ldo29";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo30: ldo30 {
				regulator-name = "vdd_ldo30";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo31: ldo31 {
				regulator-name = "vdd_ldo31";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo32: ldo32 {
				regulator-name = "vdd_ldo32";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_aldo1: ldo33 {
				regulator-name = "vdd_aldo1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_aldo2: ldo34 {
				regulator-name = "vdd_aldo2";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo_core: ldo35 {
				regulator-name = "vdd_ldo_core";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo_buf: ldo36 {
				regulator-name = "vdd_ldo_buf";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-ramp-delay = <12000>;
			};
		};
	};
};

&oscclk {
	clock-frequency = <26000000>;
};

&timer {
	clock-frequency = <26000000>;
};

&rtc {
	status = "disabled";
	clocks = <&cmu_apm CLK_GOUT_RTC_PCLK>, <&rtcclk>;
	clock-names = "rtc", "rtc_src";
};

&pinctrl_alive {
        pmic_int: pmic-int-pins {
                samsung,pins = "gpa0-0";
                samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
                samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5420_PIN_DRV_LV1>;
	};

	key_voldown: key-voldown-pins {
		samsung,pins = "gpa1-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5420_PIN_DRV_LV1>;
	};

	key_volup: key-volup-pins {
		samsung,pins = "gpa1-7";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5420_PIN_DRV_LV1>;
	};
};

&cmu_hsi {
	clocks = <&oscclk>, <&rtcclk>,
		 <&cmu_top CLK_DOUT_HSI_BUS>,
		 <&cmu_top CLK_DOUT_HSI_MMC_CARD>,
		 <&cmu_top CLK_DOUT_HSI_USB20DRD>;
	clock-names = "oscclk", "rtcclk", "dout_hsi_bus",
		      "dout_hsi_mmc_card", "dout_hsi_usb20drd";
};

&mmc_0 {
	status = "okay";
	compatible = "samsung,exynos7-dw-mshc";
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	cap-mmc-highspeed;
	non-removable;
	mmc-hs400-enhanced-strobe;
	card-detect-delay = <200>;
	clock-frequency = <800000000>;
	bus-width = <8>;
	samsung,dw-mshc-ciu-div = <3>;
	samsung,dw-mshc-sdr-timing = <0 4>;
	samsung,dw-mshc-ddr-timing = <2 4>;
	samsung,dw-mshc-hs400-timing = <0 2>;

	pinctrl-names = "default";
	pinctrl-0 = <&sd0_clk_pins &sd0_cmd_pins &sd0_rdqs_pins &sd0_nreset_pins
		     &sd0_bus1_pins &sd0_bus4_pins &sd0_bus8_pins>;
};

&usbdrd {
        status = "okay";
        /delete-property/ extcon;
        /delete-property/ pinctrl-names;
        /delete-property/ pinctrl-0;
        vdd10-supply = <&reg_dummy>;
        vdd33-supply = <&reg_dummy>;
};

&usbdrd_dwc3 {
        status = "okay";
        dr_mode = "peripheral";
        maximum-speed = "high-speed";
        /delete-property/ extcon;
        phys = <&usbdrd_phy 0>;
        phy-names = "usb2-phy";
};

&usbdrd_phy {
        status = "okay";
        /delete-property/ extcon;
        /delete-property/ pinctrl-names;
        /delete-property/ pinctrl-0;
        vdd-supply = <&reg_dummy>;
        vbus-supply = <&reg_dummy>;
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};
